---
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Button from '~/components/ui/Button.astro';

import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

import historyImage from '~/assets/images/Amnions-first-board-1991.webp';
import ItemGrid from '~/components/ui/ItemGrid.astro';
import FAQs from '~/components/widgets/FAQs.astro';

const metadata = {
  title: 'Partner with Amnion',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero2
    title='Partner with Amnion'
    subtitle='Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
    actions={[
      { variant: 'primary', text: 'Make a Donation', href: '#learn-more', icon: 'tabler:square-rounded-arrow-right' },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1621452773781-0f992fd1f5cb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1626&q=80',
      alt: 'Children telling a story. Long-form Sales Landing Page demo',
    }}
  />

  <Features2
    title='Your donation provides...'
    columns={3}
    classes={{
      headline: {
        title: 'text-white heading text-4xl',
      },
      icon: 'text-tertiary',
      iconTitle: 'text-secondary',
    }}
    items={[
      {
        title: 'Pregnancy Tests',
        icon: 'pregnancy-test',
      },
      {
        title: 'Ultrasounds',
        icon: 'ultrasound',
      },
      {
        title: 'Abortion Pill Reversal',
        icon: 'mdi:undo-variant',
      },
      {
        title: 'Prenatal Education',
        icon: 'mdi:education-outline',
      },
      {
        title: 'Post Abortion Healing',
        icon: 'mdi:heart',
      },
      {
        title: 'Relationship Training',
        icon: 'mdi:people',
      },
    ]}
  >
    <Fragment slot='bg'>
      <div class='absolute inset-0 bg-primary'></div>
    </Fragment>
  </Features2>

  <Content
    isReversed={true}
    title='More Ways to Partner'
    items={[
      {
        title: 'Corporate Sponsorship',
        description:
          'Partner with Amnion as a corporate sponsor to help underwrite the expenses for one of our special events. With your help, funds raised go directly to support our clients in need. Contact Amnion for more information: 952-898-4350.',
      },
      {
        title: 'Planned Giving',
        description:
          'Support Amnion with a planned giving contribution. A planned gift is a contribution that is arranged in the present and allocated at a future date. Commonly donated through a will or trust, planned gifts are most often granted once the donor has passed away. Contact Amnion for more information or talk to your financial advisor.',
      },
      {
        title: 'Thrivent',
        description:
          "Amnion Women's Center is enrolled in Thrivent Choice which means you can direct your Choice dollars to Amnion. Also, consider applying for an Action Team grant to benefit Amnion (up to $250 per grant). Thrivent members can apply for two Action Team grants a year.",
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot='bg'>
      <div class='absolute inset-0 bg-muted'></div>
    </Fragment>
  </Content>

  <Content
    isAfterContent={true}
    items={[
      {
        title: 'Provide financial support on a monthly basis',
      },
      {
        title: 'Donate in-kind services (maintenance, printing, silent auction items, etc.)',
      },
      {
        title: 'Host a baby shower or supply drive to provide essential items for moms and babies',
      },
      {
        title: 'Request that memorial contributions be given to Amnion',
      },
      {
        title: 'Participate in Amnion’s fundraising events',
      },
      {
        title: 'Sponsor a special event (Gala or Walk for Life)',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot='bg'>
      <div class='absolute inset-0 bg-muted'></div>
    </Fragment>
  </Content>

  <FAQs
    tagline='FAQ'
    title='Frequently Asked Questions'
    classes={{
      description: 'paragraph-small',
    }}
    items={[
      {
        title: 'How can I donate by check?',
        description:
          'Checks are payable to: <br><i>Amnion Women’s Center</i><br><br>And can be mailed to the following address: <br><i>13775 Nicollet Ave S Burnsville, MN 55337</i>',
      },
      {
        title: 'Can I claim a tax deduction from donating?',
        description:
          'Yes, Amnion Women’s Center operates under the supervision of a Board of Directors and is registered with the IRS as a 501(c)(3) nonprofit, charitable organization. Therefore, all contributions are tax deductible.<br><strong>FEIN:</strong> 41-1666474<br><br>For a copy of our 2022 990, click here.',
      },
      {
        title: 'Does Amnion recieve any government funding?',
        description:
          'No, Amnion does not receive any government funding. Financial support is received through the following: <ul class="paragraph-small list-disc list-inside"><li>Churches</li><li>Individuals</li><li>Grants and Foundations</li><li>Matching Gifts</li><li>Planned Giving/Trusts</li><li>Stock Gifts</li><li>United Way</li></ul>',
      },
    ]}
  />
</Layout>
