---
import Content from '~/components/widgets/Content.astro';
import Layout from '~/layouts/PageLayout.astro';
import Button from '~/components/ui/Button.astro';

const metadata = {
  title: 'Printed and Downloadable Resources',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Content classes={{ container: '!pt-8 !pb-0' }}>
    <Fragment slot='content'>
      <h1 class='heading text-4xl md:text-5xl leading-tighter'>Events</h1>
      <Button variant='primary'>Register for the 2025 Walk for Life</Button>
    </Fragment>
  </Content>

  <Content isAfterContent={true}>
    <Fragment slot='content'>
      <h2 class='heading text-4xl'>Upcoming</h2>
    </Fragment>
  </Content>

  <Content isAfterContent={true}>
    <Fragment slot='content'>
      <h2 class='heading text-4xl'>Annual Events</h2>
    </Fragment>
  </Content>
</Layout>
