---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Content from '~/components/widgets/Content.astro';
import Brands from '~/components/widgets/Brands.astro';
import Stats from '~/components/widgets/Stats.astro';
import Button from '~/components/ui/Button.astro';
import ResourcesWidget from '~/components/widgets/Resources.astro';

const metadata = {
  title: 'Lead Generation Landing Page Demo',
};
---

<Layout metadata={metadata}>
  <!-- Hero2 Widget ******************* -->

  <Hero title='2024 Amnion Gala & Auction'>
    <Fragment slot='content'>
      <Features2
        classes={{ container: '!pt-4 !pb-0' }}
        columns={2}
        items={[
          {
            title: 'Friday, October 25',
            description: '6pm-9pm',
            icon: 'tabler:calendar-event',
          },
          {
            title: 'Brackett’s Crossing Country Club',
            description: 'Lakeville, MN',
            icon: 'tabler:map-pin',
          },
        ]}
      />
      <Button
        class='my-8 text-xl'
        variant='primary'
        >Register now</Button
      >
    </Fragment>
  </Hero>

  <Content id='bottles'>
    <Fragment slot='content'>
      <p class='paragraph mb-5 max-w-[1000px] mx-auto text-center text-xl leading-8'>
        The Bottles For Life Campaign is a unique and easy way to involve members of your congregation to help support
        Amnion’s ministry by filling a baby bottle with cash, checks, or coins.
      </p>
      <Stats
        classes={{ container: '!pb-0' }}
        stats={[
          { title: 'Goal', amount: '$275,000' },
          // { title: 'Actual', amount: '$292,000' },
        ]}
      />
    </Fragment>
    <Fragment slot='bg'>
      <div class='absolute inset-0 bg-muted dark:bg-transparent'></div>
    </Fragment>
  </Content>

  <ResourcesWidget
    title='Promotional Resources'
    subtitle="All our publications are free. <a href='mail:'>Email Michele</a> or call us at <a href='tel:952-898-4350'>952-898-4350</a> to place your order."
  />

  <Content isDark={true}>
    <Fragment slot='content'>
      <h3 class='heading text-4xl'>Additional Info</h3>
      <p class='paragraph mb-5'>
        The Bottles For Life Campaign is a unique and easy way to involve members of your congregation to help support
        Amnion’s ministry by filling a baby bottle with cash, checks, or coins.
      </p>
    </Fragment>
  </Content>

  <Brands />
</Layout>
